/* GLOBAL STYLES */
#main {
	background-color: #222222;
	font-family: Copperplate, Copperplate Gothic Light;
	position: fixed;
	left: 25%;
	width: 50%;
	height: 75%;
	padding-left: 1em;
	padding-right: 1em;
	text-shadow: 2px 2px 3px #555;
	-webkit-border-radius: 0.5em;
}

.subdiv {
	background-color: #999999;
	padding-left: 2%;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 1px 1px 1px #fff;
}

input, select {
	color: white;
	border: 1px solid #555;
	background: #555;
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
	-webkit-appearance: none;
	-webkit-box-shadow: 1px 1px 1px #fff;
	-webkit-border-radius: 0.5em;
}

option {
	-webkit-appearance: none;
	background: #555;
}

#form {
	position: relative;
	width: 100%;
	height: 100%;
}
/* END GLOBAL STYLES */

/* START SCREEN */
#create_party {
	position: absolute;
	height: 20%;
	width: 98%;
}

#player {
	position: absolute;
	width: 47%;
	height: 30%;	
	top: 25%;
}

#party {
	width: 47%;
	height: 30%;
	position: absolute;
	left: 51%;
	top: 25%;
}

#initial {
	width: 98%;
	height: 20%;
	position: absolute;
	top: 60%;
}
/* END START SCREEN */