{% extends "mordor/template.html" %}
{% block style %}static/styles.css{% endblock %}
{% block main %} 
	<div id="title" class="subdiv">
		<h1> Start a game </h1>
	</div>
	<!--{% csrf_token %}-->
	<div id="form">
		<form action="/start/submit.php" method="post">
			<div id="create_party" class="subdiv">
				<h3> Create a new Party </h3>
				<label> Party Name: <input type="text" name="p_name" /></label>
			</div>
				<div id="player" class="subdiv">
					<h3> Create a new Player </h3>
					<label> Name: <input type="text" name="player" /></label><br />
					<label> Background: <select name="prof">
							<option value="r_holder"> Ring Holder </option>
							<option value="gardener"> Gardener </option>
							<option value="tmaker"> Trouble Maker </option>
					</select></label>
				</div>
				<div id="party" class="subdiv">
					<h3> Party members </h3>
					<label> Member 1: <input type="text" name="m1" /> </label><br />
					<label> Member 2: <input type="text" name="m2" /> </label><br />
					<label> Member 3: <input type="text" name="m3" /> </label><br />
				</div>
				<div id="initial" class="subdiv">	
					<h3> Initial Stats </h3>
					<label> Initial Pace: <select name="pace">
							<option value=".5">2.5 km per day</option>
							<option value="1">5 km per day</option>
							<option value="1.5">7.5 km per day</option>
					</select></label>
					<label> Initial Rations: <select name="ration">
							<option value=".5">5 oz per day</option>
							<option value="1">10 oz per day</option>
							<option value="1.5">15 oz per day</option>
					</select></label>
					<input type="hidden" value="{{ next }}" />
					<div align="right"><input type="submit" value="Submit" /></div>
				</div>			
		</form>	
	</div>	
{% endblock %}