{% extends "mordor/template.html" %}
{% block title %}Shop Interface{% endblock %}
{% block style %}static/styles.css{% endblock %}
{% block header %}
<h1>Shop: {{ shopname }}</h1>
{% endblock %}
{% block navbar %}
<ul>
	<li><a href="start.php">home</a></li>
	<li><a href="config.php">config</a></li>
</ul>
{% endblock %}
{% block main %}
<div id="form">
	<div id='title' class='subdiv'>
		<h3>{{ shopname }}</h3>
	</div>
	<div id="shop" class = "subdiv">
		<div id="items">
{% for i in items %}
			<div class="item">
				<form action="shop.php" method="POST">
					<p style="display:inline">{{ i.name }} : </p>
					<p style="display:inline">{{ i.description }}</p><br />
					<label>Price: {{ i.calculatePrice }}</label><br />
					<label>Weight: {{ i.weight }}</label><br />
					<label>Qty: <input type='number' name ='qty' /></label>
					<input type='hidden' value='{{ i.name }}' name='item' />
					<input type='submit' />
				</form>
			</div>
{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
