{% extends "mordor/template.html" %}
{% block title %}Wagon and Tasks{% endblock %}
{% block style %}static/styles.css{% endblock %}
{% block header %}
<h1>Wagon and Tasks</h1>
{% endblock %}
{% block navbar %}
<ul>
	<li><a href="start.php?p={{ partyid }}">home</a></li>
	<li><a href="config.php?p={{ partyid }}">config</a></li>
</ul>
{% endblock %}
{% block main %}
<div class="subdiv">
    <div style="width:800px;height:600px;background-image:url('static/m.jpg');background-position:{{ xtop }}px {{ ytop }}px;">
        <img src="static/c.png" id='qcart' style="position:absolute;left:{{ x }}px;top:{{ y }}px;" />
    </div>
<p>
Distance Travelled: {{ dt }} miles<br />
Food per Day: {{ fpd }} units per person<br />
Distance per day: {{ dpd }} miles per day<br />
Food Remaining: {{ fr }} rations<br />
<a href='wagon.php?p={{ partyid }}&play=1' ><input type="button" value="Play a Turn"></a><br />
</p>
</div>
{% endblock %}
