{% extends "mordor/template.html" %}
{% block title %}Wagon and Tasks{% endblock %}
{% block style %}static/styles.css{% endblock %}
{% block header %}
<h1>Wagon and Tasks</h1>
{% endblock %}
{% block navbar %}
<ul>
	<li><a href="start.php?p={{ partyid }}">new Quest!</a></li>
    {% if testShop %} 
    <li><a href="shop.php?p={{ partyid }}">shop</a></li>
    {% endif %}
</ul>
{% endblock %}
{% block main %}
<script>
    if ({{ alert }}){
        alert("{{ msg }}");
    }
</script>
<div class="subdiv">
    <div style="width:800px;height:600px;background-image:url('static/m.jpg');background-position:{{ xtop }}px {{ ytop }}px;">
        <img src="static/c.png" id='qcart' style="position:absolute;left:{{ x }}px;top:{{ y }}px;" />
    </div>
{% if river %}
<p> How do you deal with the river?</p>
<form action = 'wagon.php?p={{ partyid }}&play=1' method = "POST"> 
<label> options: <select name="river">
			<option value="pay">pay a toll of 250 to pass through</option>
			<option value="caulk">Caulk through the river</option>
			<option value="ford">Ford through the river</option>
		</select>		
    </label>
    <input type='submit'>
</form>
{% else %}
<p>
Distance Travelled: {{ dt }} miles<br />
Distance per day: {{ dpd }} miles per day<br />	
<form action='wagon.php?p={{ partyid }}' method='POST'> <label> Change Travel Rate: <select name="pace">
            <option value="{{ rate2 }}">No Change</option>
			<option value=".5">6.25 miles per day</option>
			<option value="1">12.5 miles per day</option>
			<option value="1.5">18.75 miles per day</option>
		</select>		
</label><br />
Food per Day: {{ fpd }} units per person<br />
    <label> Change Rations: <select name="ration">
            <option value="{{ fpd  }}">No Change</option>
			<option value=".5">0.5 units per person</option>
			<option value="1">1 units per person</option>
			<option value="1.5">1.5 units per person</option>
		</select>
</label><input type='submit' /></form><br />

Food Remaining: {{ fr }} rations<br />
<a href='wagon.php?p={{ partyid }}&play=1' ><input type="button" value="Play a Turn"></a><br />
</p>
{% endif %}
</div>
{% endblock %}
